<center>
  {% extends 'base.html' %} {% block content %} {% if error %} {{ error }}
  <br />
  <br />
  {% endif %}
</center>
<form
  style="width: 100%;
         max-width: 330px;
         padding: 15px;
         margin: auto;"
  method="POST"
  action="{% url 'signup' %}"
>
  {% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input
    name="username"
    type="email"
    id="inputEmail"
    class="form-control"
    placeholder="Email address"
    required
    autofocus
  />
  <label for="inputPassword" class="sr-only">Password</label>
  <input
    name="password1"
    type="password"
    id="inputPassword"
    class="form-control"
    placeholder="Password"
    required
  />
  <label for="inputPassword" class="sr-only">Repeat password</label>
  <input
    name="password2"
    type="password"
    id="inputPassword"
    class="form-control"
    placeholder="Repeat password"
    required
  />
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    Sign up
  </button>
</form>
{% endblock %}
