<center>
  {% extends 'base.html' %} {% block content %} {% if error %} {{ error }}
  <br />
  <br />
  {% endif %}
</center>
<form
  style="width: 100%;
         max-width: 330px;
         padding: 15px;
         margin: auto;"
  method="POST"
  action="{% url 'create' %}"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Create</h1>
  <label for="inputEmail" class="sr-only">Title</label>
  <input
    name="title"
    type="text"
    id="title"
    class="form-control"
    placeholder="title"
    required
    autofocus
  />
  <label class="sr-only">Body</label>
  <input
    name="body"
    type="textbox"
    id="body"
    class="form-control"
    placeholder="body"
    required
    autofocus
  />
  <label class="sr-only">URL</label>
  <input
    name="url"
    type="text"
    id="url"
    class="form-control"
    placeholder="url"
    required
    autofocus
  />
  Icon:&nbsp
  <input
    name="icon"
    type="file"
    id="icon"
    class="form-control"
    placeholder="icon"
    required
    autofocus
  />
  Image:&nbsp
  <input
    name="image"
    type="file"
    id="image"
    class="form-control"
    placeholder="image"
    required
    autofocus
  />
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    Add product
  </button>
</form>
{% endblock %}
