{% extends 'base.html' %} {% block content %} {% for product in products.all %}
<div id="row pt-3">
  <div id="col-2" onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer;">
    <img src="{{ product.icon.url }}" class="img-fluid" />
  </div>
  <div id="col-6"  style="cursor: pointer;">
    <a href="{{ product.url }}">
      <h1>{{ product.title }}</h1>
    </a>
    <p>{{ product.summary }}</p>
  </div>
  <div id="col-4"></div>
<a href="javascript:{document.getElementById('{{ product.id }}').submit()}"><button class="btn btn-primary btn-lg btn-block"><span
            class="oi oi-caret-top"></span> Upvote {{ product.votes_total }}</button>Upvote </a>
</a>
</div>

<form action="{% url 'upvote' product.id %}" method="POST" id="upvote{{ product.id }}">
    {% csrf_token %}
    <input type="hidden">
</form>
{% endfor %} {% endblock %}
